<h1>Here's your cart</h1>

<section class="row cart">
    <div class="col-sm-3 cart-item" ng-repeat="item in cartCtrl.itemsInCart">
        <p>ID: {{item.id}}</p>
        <p>name: {{item.name}}</p>
        <p>description: {{item.description}}</p>
        <p>Quantity: {{item.quantity}}</p>
        <p>Price(each): ${{item.price_cents / 100}}</p>
        <p>Total this item: ${{item.price_cents * item.quantity / 100}}</p>
    </div>
</section>
<div class="row">
    <div class="col-sm-12">
        <span>Total: ${{cartCtrl.getTotalCart() / 100}}</span>
    </div>
</div>