<div class="row">
    <section class="col-sm-6">
        <form name="groceryItem" class="form-horizontal">
            <div class="form-group">
                <label for="groceryItemTitle">Grocery title *</label>
                <input type="text" class="form-control" id="groceryItemTitle" name="groceryItemTitle" ng-model="groceryCtrl.item.title" placeholder="Grocery Title" required>
            </div>
            <div class="form-group">
                <label for="groceryItemNotes">Grocery notes</label>
                <input type="text" class="form-control" id="groceryItemNotes" name="groceryItemNotes" ng-model="groceryCtrl.item.notes" placeholder="Grocery Notes">
            </div>
            <button type="submit" class="btn btn-default" ng-click="groceryCtrl.addItem()">Add</button>
        </form>
    </section>
</div>
<div class="row">
    <aside class="col-sm-9 grocery" >
        <h3>Your List</h3>

        <section class="row col-sm-12" ng-if="groceryCtrl.groceryList.length <= 0">
            <span>Your list is empty</span>
        </section>

        <section class="row" ng-if="groceryCtrl.groceryList.length > 0">
            <div class="col-sm-12 grocery-item " ng-class="{'purchased': item.purchased}" ng-repeat="item in groceryCtrl.groceryList">
                <div class="grocery-item-info">
                    <label for="itemPurchased{{$index}}">
                        <input type="checkbox" name="itemPurchased{{$index}}" id="itemPurchased{{$index}}" ng-model="item.purchased">
                        <span class="grocery-item-title">{{item.title}}</span>
                    </label>
                    <span class="grocery-item-notes" ng-show="item.showNotes"><br>{{item.notes}}</span>
                </div>
                <div class="row grocery-item-actions">
                    <div ng-class="{'col-sm-11' : item.showNotes, 'col-sm-12': !item.showNotes}">
                        <a href ng-click="item.showNotes = true" ng-show="!item.showNotes"> show notes +</a>
                        <a href ng-click="item.showNotes = false" ng-show="item.showNotes"> hide notes +</a>
                    </div>
                    <div class="col-sm-1" ng-show="item.showNotes">
                        <a href ng-click="groceryCtrl.removeItem(item.index)"> &times;</a>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>